.container-editar-perfil {
  justify-items: center;
}

.editar-perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #DBDBDB;
}

.editar-perfil-box {
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.editar-perfil-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editar-perfil-form input {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1rem;
  border: rgba(0, 0, 0, 0.171) 1px solid;
}

.editar-perfil-box .success-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.editar-perfil-form button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 45%;
  transition: background-color 0.3s ease;
  background-color: #f1c40f;
  color: white;
  align-self: center;
}

.editar-perfil-form button:hover {
  background-color: #f1c40f8f;
  opacity: 0.9;
}


.button-actualizar-contrasena {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 45%;
  transition: background-color 0.3s ease;
  background-color: #f1c40f;
  color: white;
  align-self: center;
}

.container-cambiarContrasena {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-cambiarContrasena input {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1rem;
  border: rgba(0, 0, 0, 0.171) 1px solid;
}