.containerHeader{
    display: flex;    
    color: white;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbarHeader{
    display: flex;
    align-items: center;
}

.searchbarHeader{
    display: flex;
    gap: 0.5rem;
}
.navbarHeader nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.navbarHeader nav ul li a{
    color: white;
    text-decoration: none;
}