@font-face {
    font-family: 'WF Visual Sans';
    src: url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


.navbar{
    background-color: black;
}

.navbar .navbar-brand {
    color: white;
    font-size: 2rem;
    font-family: WF Visual Sans, Arial, sans-serif;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar .navbar-brand:hover {
    color: rgb(179, 179, 179);
    transition: color 0.3s ease-in-out;
}

.navbar .navbar-brand:focus {
    color: white; /* Asegúrate de que se mantenga visible al hacer clic */
    outline: none; /* Opcional: elimina el borde de enfoque si no lo quieres */
}

.navbar .nav-link {
    color: white;
    font-size: 1.5rem;
    font-family: WF Visual Sans, Arial, sans-serif;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
    color: rgb(179, 179, 179);
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link:focus {
    color: white; /* Mantener el color visible al hacer clic o recibir foco */
    outline: none; /* Opcional: elimina el borde de enfoque si no lo quieres */
}
