.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBDBDB;
}

.perfil-box {
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: grid;
  gap: 20px;
}

.perfil-info {
  font-size: 1.2rem;
  text-align: left;
}

.perfil-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.perfil-button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: #f1c40f; 
  color: white;
  transition: background-color 0.3s ease;
  width: 150px; 
}

.perfil-button:hover {
  background-color: #f39c12;
  opacity: 0.9;
}

.historial-pedidos {
  margin-top: 30px;
}

.historial-pedidos h2 {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
  text-align: center;
}

.historial-pedidos ul {
  list-style-type: none;
  padding: 0;
}

.historial-pedidos li {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: grid;
  gap: 10px;
}

.historial-pedidos li p {
  font-size: 1rem;
  color: #555;
}

.historial-pedidos button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.historial-pedidos .buttonVerDetalles {
  background-color: #383146;
  color: white;
}

.historial-pedidos .buttonVerDetalles:hover {
  background-color: #2c2333;
}

.historial-pedidos .buttonAgregarCarrito {
  background-color: #FFC300;
  color: white;
}

.historial-pedidos .buttonAgregarCarrito:hover {
  background-color: #FFB000;
}